<div class="container">
    <h2>All Customers</h2>
    <hr>
    <br>
    <br>
    <ul>
        
    <% customers.docs.forEach((customer) => { %>
        <li><%= customer.data().email %> </li>
    <% }) %>
    </ul>
</div>