<div class="container" style="background-color:rgb(255, 180, 41)">
    <h3>OOP'S! YOU ARE NOT SUPPOSE TO BE HERE!</h3>
<br>
<a class="btn btn-primary" type="button" href="/screen/hrefReq/admin">Admin panel</a>
</div>