<!-- <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-firestore.js"></script> -->
<div class="container">
    <form  action="/" method="post">
        <div class="form-group text-center">
            <h2 class="display-6 text-center">Writing About</h2>
       <br>
           <a class="btn btn-dark " href="/screen/type1" name="personality" Value="Male">Him self</a>
       
        </div>
       <div class="form-group text-center">
           <a class="btn btn-dark " href="/screen/type2"  name="personality" Value="Female">Her self</a>
       </div>
       
       <div class="form-group text-center">
        <a class="btn btn-dark justify-content-center" href="/screen/type3"  name="personality" Value="Female">Your self</a>
    </div>
    
       <br>    
        
       </form>
</div>