<div class="container">
    <form for="/signin" method="post">
        <h3>Login</h3>
        <div class="form-wrapper">
            <input name="email" type="email" id="email" placeholder="Email Address" class="form-control">
            <i class="zmdi zmdi-email"></i>
        </div>
        <div class="form-wrapper">
            <input name="password" type="password" id="password" placeholder="Password" class="form-control">
            <i class="zmdi zmdi zmdi-lock"></i>
        </div>
        
        <div class="form-group container-login100-form-btn">
            <button id="btn-login" type="submit">
                Login
                <i class="zmdi zmdi-arrow-right"></i>
            </button>
        </div>
    
        <div class="w-full text-center" style="margin-top: 66%; font-size:15px;">
        <a href="signup.html" class="text-dark">
            Not have an account? Sign up 
        </a>
    </div>
    </form> 
</div>