<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container w-60" style="text-align:center;color:white;margin-top:60px;padding:100px;border:1px solid transparent;border-radius:5px;background-color:#b12eee">
        <form for="/signin" method="post">
            <h1>Login</h1>
            <hr>
            <br>
            <div class="form-wrapper">
                <label for="email">Email</label>
                <input name="email" type="email" id="email" style="" placeholder="Email Address" class="form-control" autocomplete="off"  required>
                <i class="zmdi zmdi-email"></i>
            </div>
            <br>
            <div class="form-wrapper">
                <label for="password">Password</label>
                <input name="password" type="password" id="password" placeholder="Password" class="form-control" auto required>
                <i class="zmdi zmdi zmdi-lock"></i>
            </div>
            <br>
            <br>
            <div class="form-group container-login100-form-btn">
                <button class='btn btn-primary btn-lg' id="btn-login" type="submit">
                    Login
                    <i class="zmdi zmdi-arrow-right"></i>
                </button>
            </div>
        </form> 
    </div>
    
    
</body>
</html>