<div class="container">
    <form action="/screen/signup" method="post">
        <h3>Signup</h3>
        <hr>
        <br>
        <div class="form-wrapper">
            <label for="email">Email</label>
            <input name="email" type="email" id="email" placeholder="Email Address" class="form-control"  required >
            <i class="zmdi zmdi-email"></i>
        </div>
        <br>
        <div class="form-wrapper">
            <label for="password">Password</label>
            <input name="password" type="password" id="password" placeholder="Password" class="form-control" required>
            <i class="zmdi zmdi zmdi-lock"></i>
        </div>
        <br>
        <div class="form-wrapper">
            <label for="password">Password</label>
            <input name="confirmPassword" type="password" id="password" placeholder="Confirm password" class="form-control"  required>
            <i class="zmdi zmdi zmdi-lock"></i>
        </div>
        <br>
        
        <div class="form-group container-login100-form-btn">
            <button class='btn btn-primary' id="btn-login" type="submit">
                Sign up
                <i class="zmdi zmdi-arrow-right"></i>
            </button>
        </div>
    </form> 
</div>