<br>
<div class="container">
    <br>
<h1 class="">Biography App</h1>
<hr>
<p class="text-dark">Welcome to the Biography App</p>
<a class="btn btn-primary" type="button" href="/screen/admin">Admin panel</a>
 
</div>
