<br>
<div class="jumbotron">
    <br>
<h1 class="">Biography App</h1>
<hr>
<p class="text-dark">Welcome to the Biography App ADMIN-PANEL</p>
<br>

<a class="btn btn-dark" type="button" href="/screen/signin">Login</a>
<a class="btn btn-primary" type="button" href="/screen/admin">Admin panel</a>
 
</div>
