<form  id="#form">
    <label for="question">Add New Question</label>
    <input name="question" type="text" placeholder="Enter the question">
    <button class="btn btn-primary">Add</button>
</form>

<h3>Question List</h3>

