<header>
    <nav>
        <a href="/">My APP</a>
        <ul>
            <li><a href="/screen/gender">Gender</a></li>
           <li><a href="/screen/personality">Writing About</a></li>
           <li><a href="/screen/admin">Admin panel</a></li>

        </ul>
    </nav>
</header>